<%= form_for(@cost,:html => {:class => "form-horizontal center"}) do |f| %>
  <% if @cost.errors.any? %>
    <div id="error_explanation">
      

      <ul>
      <% @cost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :category %><br>
    <%= select_tag "categories", options_from_collection_for_select(Category.all, "id", "name") %>
  </div>
  <div class="field">
    <%= f.label :amount %>*<br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :description %>
  </div><br>
  <div class="actions">
    <%= f.submit 'SUBMIT', :class => 'btn btn-primary btn-sm' %>
  </div>
<% end %>
