<br>
<%= form_for(@income) do |f| %>
  <% if @income.errors.any? %>
    <div id="error_explanation">
     

      <ul>
      <% @income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Amount %><br>
    <%= f.text_field :amount %>&nbsp;<b>$</b>
  </div>
<br>
  <div class="field">
    <%= f.label :Expenses_Limit %><br>
    <%= f.text_field :limit %>&nbsp;<b>$</b>
  </div>
   <br>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
